:root .theme_light {
  --main-color: #353430;
  --accent-color: #FF8DCB;
  --header-color: #FFC2E6;
  --text-color: #353430;
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --accent-color: #FF8DCB;
    --header-color: #FFC2E6;
    --text-color: #353430;
    --background-img: url(../images/cover-image-light.png);   
    }

    .theme_light .header__rec {
      display: none;
    }

    .theme_auto .header__rec {
      display: none;
    }

    .theme_light button:hover {
      border-bottom: 1px solid rgba(50, 49, 45, 0.4);
    }
}

.theme_light .header__rec {
  display: none;
}

.theme_light button:hover {
  border-bottom: 1px solid rgba(50, 49, 45, 0.4);
}