:root .theme_light {
  --main-color: #353430;
  --accent-color: #353430;
  --decor-color: #FF8DCB;
  --shadow-color: #FF8DCB;
  --header-color: #FFC2E6;
  --text-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
  --background-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --accent-color: #353430;
    --decor-color: #FF8DCB;
    --shadow-color: #FF8DCB;
    --header-color: #FFC2E6;
    --text-color: #353430;
    --border-color: rgba(50, 49, 45, 0.4);
    --background-img: url(../images/cover-image-light.png);   
    }

    .theme_light .header__rec {
      display: none;
    }

    .theme_auto .header__rec {
      display: none;
    }

    @media (min-width: 1024px) {
      :root {
        --shadow-color: #ff0070;  
      }
    }
}

.theme_light .header__rec {
  display: none;
}

@media (min-width: 1024px) {
  :root .theme_light {
    --shadow-color: #ff0070;  
  }
}