.page {
  color: var(--text-color, #F1B2CE);
  font-family: var(--main-font, 'IBM Plex mono'), sans-serif;
  font-weight: normal;
  font-size: var(--content-font-size, 18px);
  font-style: normal;
  line-height: 130%;
  background-color: var(--main-color, #000028);
  background-image: var(--background-img, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin-block-end: var(--header-margin-block-end, 40px);
  padding: var(--content-section-padding, 10px);
  color: var(--accent-color, #ff0070);
  min-block-size: 668px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  inset-block-end: var(--content-section-padding, 10px);
  inset-inline-start: var(--content-section-padding, 10px); 
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  inset-block-start: var(--content-section-padding, 10px);
  inset-inline-end: var(--content-section-padding, 10px);
  inline-size: 25px;
  block-size: 25px;
}

.header__rec {
  position: absolute;
  line-height: 139%;
  text-transform: uppercase;
  inset-block-start: var(--content-section-padding, 10px);
  inset-inline-end: 28px;
}

.header__rec::after {
  content: '';
  position: relative;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  background-color: currentColor;
  inline-size: 9px;
  block-size: 9px;
  inset-inline-start: 9px;
  inset-block-end: 1px;
}

.header__theme-menu {
  justify-self: end;
  padding-block: calc(100vw / 5 - var(--content-section-padding, 10px));
  background-color: transparent;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  border: none;
  border-radius: 0;
  padding-inline: 13px;
  padding-block-end: 5px;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  appearance: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.main-title {
  color: var(--header-color, #DB00FF);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.main-title_shadow {
  text-shadow: 4px 4px 0 var(--shadow-color, #ff0070);
}

.main-title_shadow-less {
  text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}

.title-decor {
  color: var(--main-color, #000028);
  font-weight: bold;
  background-color: var(--decor-color, #ff0070);
}

.title-decor_main-title {
  margin-block-start: calc(100vw / 5 - var(--content-section-padding, 10px) * 2);
}

.title-decor_extra-title {
  font-weight: normal;
}

.content {
  display: grid;
  gap: var(--content-section-gap, 40px);
}

.content-section {
  display: grid;
  gap: var(--block-in-content-section-gap, 20px);
  padding-inline: var(--content-section-padding, 10px);
}

.content-section:nth-child(4) {
  --block-in-content-section-gap: 10px;
}

.content-section__title {
  color: var(--accent-color, #ff0070);
  font-weight: bold;
  font-size: 18px;
}

.content-section__article-list {
  display: grid;
  gap: var(--article-list-gap, 20px);
}

.article {
  display: grid;
  gap: var(--article-gap, 10px);
}

.article_block-list {
  gap: var(--block-in-content-section-gap, 20px);
}

.link {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--shadow-link-color, #ff0070);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.content-section_reasons .content-section__article-list {
  grid-column: 1 / -1;
}

.content-section_gallery .title-decor {
  grid-column: 1 / -1;
}

.gallery-list {
  display: grid;
  grid-template-rows: 142px 355px 237px 355px 237px;
  grid-column: 1 / -1;
  gap: var(--gallery-gap, 10px);
}

.gallery-img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--footer-margin-block-end, 40px);
  padding: var(--content-section-padding, 10px);
  padding-inline: var(--content-section-padding, 10px);
  color: var(--accent-color, #ff0070);
  min-block-size: 668px;
}

@media (min-width: 768px) {
  .header {
    padding-inline-start: 0;
    block-size: 100vh;
  }

  .header__theme-menu {
    padding-block: calc(100vw / 4 - var(--content-section-padding, 20px));
  }

  .header__rec {
    inset-inline-end: 39px;
  }
  
 
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-decor_main-title {
    justify-self: end;
    margin-block-start: calc(100vw / 4 - var(--content-section-padding, 20px) - 10px);
    inline-size: 49%;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section:nth-child(4) {
    --block-in-content-section-gap: 20px;
  }  

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 159px 139px;
  }

  .gallery-list__item:nth-child(1) {
    grid-column-end: span 2;
  }
  
  .gallery-list__item:nth-child(2) {
    grid-row-end: span 2;
  }
  
  .gallery-list__item:nth-child(3) {
    grid-row-end: span 3;
  }
  
  .gallery-list__item:nth-child(5) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }

  .footer {
    block-size: 100vh;
  }

}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    padding-block: 0 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title-decor_main-title {
    justify-self: end;
    margin-block-start: 114px;
  }
  
  .content-section {
    grid-template-columns: 315px 1fr;
  }

  .content-section_reasons .content-section__article-list {
    grid-template-columns: repeat(auto-fit, minmax(calc((100vw - var(--content-section-padding, 20px) * 2) / 3 - 40px), 1fr));
  }

  .gallery-list {
    grid-template-rows: 260px 315px 214px 198px;
  }
}