:root {
  --main-color: #000028;
  --accent-color: #ff0070;
  --header-color: #DB00FF;
  --text-color: #F1B2CE;
  --main-font: 'IBM Plex mono', sans-serif;
  --content-font-size: 18px;
  --content-section-padding: 10px;
  --header-margin-block-end: 40px;
  --footer-margin-block-end: 40px;
  --content-section-gap: 50px;
  --block-in-content-section-gap: 20px;
  --block-in-content-section-gallery-gap: 10px;
  --article-list-gap: 20px;
  --article-gap: 10px;
  --gallery-gap: 10px;
  --background-img: url(../images/cover-image-dark.png);
}

@media (min-width: 768px) {
  :root {
    --content-section-padding: 20px;
    --header-margin-block-end: 60px;
    --footer-margin-block-end: 60px;
    --content-section-gap: 80px;
    --gallery-gap: 20px;
  }
}

